### Import Required Libraries

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import re
import joblib

### Data Preprocessing of train.csv

In [96]:
trained_data = pd.read_csv("train.csv")
print(trained_data.info())
trained_data.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10656 entries, 0 to 10655
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            10656 non-null  int64
 1   area_type     10656 non-null  object
 2   availability  10656 non-null  object
 3   location      10655 non-null  object
 4   size          10642 non-null  object
 5   society       6228 non-null   object
 6   total_sqft    10656 non-null  object
 7   bath          10591 non-null  float64
 8   balcony       10152 non-null  float64
 9   price         10656 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 832.6+ KB
None

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00

In [98]:
missing_count = trained_data.isnull().sum()
print(missing_count)

ID                 0
area_type          0
availability       0
location           1
size              14
society         4428
total_sqft         0
bath              65
balcony          504
price              0
dtype: int64

In [100]:
trained_data = trained_data.dropna(subset=['location'])
trained_data = trained_data.dropna(subset=['size'])
trained_data['size'] = trained_data['size'].str.replace('Bedroom', 'BHK')
trained_data['size'].unique()

array(['2 BHK', '4 BHK', '3 BHK', '6 BHK', '1 BHK', '1 RK', '8 BHK',
       '7 BHK', '5 BHK', '11 BHK', '9 BHK', '27 BHK', '10 BHK', '19 BHK',
       '16 BHK', '43 BHK', '14 BHK', '12 BHK', '13 BHK'], dtype=object)

In [102]:
trained_data = trained_data.drop('society', axis=1)

In [104]:
unique_total_sqft = trained_data['total_sqft'].unique()
print(unique_total_sqft)

['1056' '2600' '1440' ... '2495' '3075' '1426']

In [106]:
non_integer_values = trained_data[trained_data['total_sqft'].apply(lambda x: not str(x).isdigit())]
print(non_integer_values['total_sqft'])
print(non_integer_values.shape[0])

30          2100 - 2850
44              1330.74
56          3010 - 3410
81          2957 - 3450
122         3067 - 8156
              ...
10488         1.25Acres
10491    86.72Sq. Meter
10541         381 - 535
10569       1230 - 1490
10620       3630 - 3800
Name: total_sqft, Length: 263, dtype: object
263

In [108]:
# If there is any value with something like 1230 - 1490; then replace with a mid-value of the same
# also, convert from all other unit types to sqr feet
def process_total_sqft(value):
    value = str(value.strip().lower().replace(" ", ""))
    if '-' in value:
        # Split the string at the hyphen, strip spaces, and calculate the average
        parts = value.split('-')
        part1 = float(parts[0].strip())  # Trim spaces and convert to float
        part2 = float(parts[1].strip())  # Trim spaces and convert to float
        avg_value = (part1 + part2) / 2
        return str(avg_value)
    elif value.endswith(".0"):
        return value[:-2]
    elif (value.endswith("acres") or value.endswith("acre") or value.endswith("acr") or value.endswith("acrs")):
        value = value.replace("acres", "").replace("acre", "").replace("acr", "").replace("acrs", "")
        return str(float(value) * 43560)
    elif (value.endswith("sq.meter") or value.endswith("sq.mtr") or value.endswith("sqmeter") or value.endswith("sqmtr")):
        value = value.replace("sq.meter", "").replace("sq.mtr", "").replace("sqmeter", "").replace("sqmtr", "")
        return str(float(value) * 10.7639)
    elif (value.endswith("perch") or value.endswith("prch")):
        value = value.replace("perch", "").replace("prch", "")
        return str(float(value) * 272.25)
    elif (value.endswith("sq.yards") or value.endswith("sq.yard") or value.endswith("sqyrd") or value.endswith("sqyrds")):
        value = value.replace("sq.yards", "").replace("sq.yard", "").replace("sqyrd", "").replace("sqyrds", "")
        return str(float(value) * 9)
    elif (value.endswith("cents") or value.endswith("cent") or value.endswith("cnts") or value.endswith("cnt")):
        value = value.replace("cents", "").replace("cent", "").replace("cnts", "").replace("cnt", "")
        return str(float(value) * 435.6)
    elif (value.endswith("gunthas") or value.endswith("guntha") or value.endswith("guntas") or value.endswith("gunta")):
        value = value.replace("gunthas", "").replace("guntha", "").replace("guntas", "").replace("gunta", "")
        return str(float(value) * 1089)
    elif (value.endswith("grounds") or value.endswith("ground") or value.endswith("grnds") or value.endswith("grnd")):
        value = value.replace("grounds", "").replace("ground", "").replace("grnds", "").replace("grnd", "")
        return str(float(value) * 2400)
    else:
        return value

# Apply the function to the 'total_sqft' column
trained_data['total_sqft'] = trained_data['total_sqft'].apply(process_total_sqft)
trained_data['total_sqft'] = trained_data['total_sqft'].apply(process_total_sqft)
trained_data['total_sqft'] = trained_data['total_sqft'].astype(float).round().astype(int)

In [110]:
unique_total_sqft = trained_data['area_type'].unique()
print(unique_total_sqft)

['Super built-up  Area' 'Plot  Area' 'Built-up  Area' 'Carpet  Area']

In [112]:
grouped_size_data = trained_data.groupby('size').size()
filtered_bath_data = trained_data[trained_data['bath'].notnull()]
grouped_avg_bath = filtered_bath_data.groupby('size')['bath'].mean().astype(float).round().astype(int)

# Replace blank values in 'bath' with grouped average
def fill_blank_bath(row):
    if pd.isnull(row['bath']):  # Check if 'bath' is null
        return grouped_avg_bath.get(row['size'], row['bath'])  # Get the average for the group or keep as is
    return row['bath']
trained_data['bath'] = trained_data.apply(fill_blank_bath, axis=1)

In [114]:

grouped_balcony_data = trained_data.groupby('balcony').size()
filtered_balcony_data = trained_data[trained_data['balcony'].notnull()]
grouped_avg_balcony = filtered_balcony_data.groupby('size')['balcony'].mean().astype(float).round().astype(int)

# Replace blank values in 'bath' with grouped average
def fill_blank_balcony(row):
    if pd.isnull(row['balcony']):  # Check if 'bath' is null
        return grouped_avg_balcony.get(row['size'], row['balcony'])  # Get the average for the group or keep as is
    return row['balcony']
trained_data['balcony'] = trained_data.apply(fill_blank_balcony, axis=1)
average_balcony = round(trained_data['balcony'].mean())
trained_data['balcony'] = trained_data['balcony'].fillna(average_balcony)

In [116]:
missing_count = trained_data.isnull().sum()
print(missing_count)

ID              0
area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

### Merge Primary and Secondary data sets to train_data and process

In [118]:
dist_data = pd.read_csv('dist_from_city_centre.csv')
rent_data = pd.read_csv('avg_rent.csv')

In [120]:
dist_data.head(3)

          location  dist_from_city
0       Whitefield            17.3
1   Sarjapur  Road            17.2
2  Electronic City            18.1

In [122]:
rent_data.head(3)

                        location  avg_2bhk_rent
0                Krishnarajapura          11954
1                       Sarjapur          45000
2  Whitefield Hope Farm Junction          26370

In [124]:
train_data = trained_data.merge(dist_data, on='location', how='left')
train_data = train_data.merge(rent_data, on='location', how='left')
train_data.head(3)

,ID,area_type,availability,location,size,total_sqft,bath,balcony,price,dist_from_city,avg_2bhk_rent
0,0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,19.3,11500.0
1,1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,2600,5.0,3.0,120.00,34.6,NaN
2,2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,12.9,19750.0

In [126]:
train_missing_count = train_data.isnull().sum()
print(train_missing_count)

ID                   0
area_type            0
availability         0
location             0
size                 0
total_sqft           0
bath                 0
balcony              0
price                0
dist_from_city    1023
avg_2bhk_rent     6983
dtype: int64

In [128]:
train_data.fillna(train_data['dist_from_city'].mean(), inplace=True)
train_data.fillna(train_data['avg_2bhk_rent'].mean(), inplace=True)

In [130]:
train_missing_count = train_data.isnull().sum()
print(train_missing_count)

ID                0
area_type         0
availability      0
location          0
size              0
total_sqft        0
bath              0
balcony           0
price             0
dist_from_city    0
avg_2bhk_rent     0
dtype: int64

In [132]:
train_data['price_per_sqft'] = train_data['price'] / train_data['total_sqft']
for column in ['area_type', 'availability', 'location', 'size']:
    le = LabelEncoder()
    train_data[column] = le.fit_transform(train_data[column])

In [134]:
train_data['price_per_sqft'] = train_data['price'] / train_data['total_sqft']
train_data['rent_to_price_ratio'] = train_data['avg_2bhk_rent'] / train_data['price']
# Separate features and target in training data
X_train = train_data.drop(columns=['price'])
y_train = train_data['price']

In [136]:
train_data.to_csv('trained.csv', index=False)

### Data Preprocessing of test_data

In [139]:
test_data = pd.read_csv("test.csv")
print(test_data.info())
test_data.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2664 entries, 0 to 2663
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2664 non-null   int64
 1   area_type     2664 non-null   object
 2   availability  2664 non-null   object
 3   location      2664 non-null   object
 4   size          2662 non-null   object
 5   society       1590 non-null   object
 6   total_sqft    2664 non-null   object
 7   bath          2656 non-null   float64
 8   balcony       2559 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 187.4+ KB
None

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony
0,0,Super built-up Area,Ready To Move,Chamrajpet,2 BHK,NaN,650,1.0,1.0
1,1,Super built-up Area,Ready To Move,7th Phase JP Nagar,3 BHK,SrncyRe,1370,2.0,1.0
2,2,Super built-up Area,Ready To Move,Whitefield,3 BHK,AjhalNa,1725,3.0,2.0

In [141]:
missing_count = test_data.isnull().sum()
print(missing_count)

ID                 0
area_type          0
availability       0
location           0
size               2
society         1074
total_sqft         0
bath               8
balcony          105
dtype: int64

In [143]:
test_data = test_data.dropna(subset=['location'])
test_data = test_data.dropna(subset=['size'])
test_data['size'] = test_data['size'].str.replace('Bedroom', 'BHK')
test_data['size'].unique()

array(['2 BHK', '3 BHK', '1 BHK', '4 BHK', '5 BHK', '9 BHK', '6 BHK',
       '8 BHK', '7 BHK', '10 BHK', '18 BHK'], dtype=object)

In [145]:
test_data = test_data.drop('society', axis=1)

In [34]:
unique_total_sqft = test_data['total_sqft'].unique()
print(unique_total_sqft)

['650' '1370' '1725' '1000' '1350' '3200' '1717' '700' '800' '2367' '1415'
 '1976' '883' '1445' '2082' '1140' '933' '1155' '1130' '1200' '1055'
 '1555' '1420' '2214' '658' '896.9' '4000' '1035' '2064' '1839' '488'
 '2760' '993' '1225' '900' '825' '3596' '1800' '925' '1167' '1150' '675'
 '2260' '660 - 780' '4800' '1100' '550' '1330' '1320' '1685' '2400' '1770'
 '2100' '600' '2916' '1419.59' '1400' '750' '1070' '1536' '1710'
 '1618 - 1929' '1342' '1600' '938' '1820' '2439' '1665' '1850' '1091'
 '1346' '1720' '3675' '1060' '1059' '1299' '1491' '2088' '581' '1296'
 '1125' '1275' '1095' '10000' '1135' '516' '1194' '2250' '770' '3930'
 '1355' '3000' '2569' '3758' '1116' '1707' '6000' '1240' '1300' '1700'
 '1383' '935' '2072' '2200' '615' '1639' '625' '2289' '2316' '1005' '1080'
 '910' '1110' '1142' '1626.6' '1074' '1230' '660' '1007' '1050' '1348'
 '1176' '1590' '1298' '1161' '1285' '1644' '1819' '1205' '2350' '1270'
 '1221' '840' '1339' '4303' '1315' '1250' '850' '1312' '1990' '760' '5000'
 '1614' '1500' '1182' '1053' '2000' '1940' '1075' '1260' '1702' '1189'
 '4482' '1210' '1900' '1935' '1410' '1469' '986' '1460' '1345' '980'
 '1164' '929' '1065' '1150 - 1194' '1020' '1362' '672' '1746' '1025'
 '1532' '1188' '3565' '1170' '2600' '2507' '1061' '1290' '1120' '418'
 '1333' '1691' '684 - 810' '2030' '1012' '1245' '1765' '967' '1044' '1518'
 '1798' '866.28' '3410' '1179' '3600' '2098' '1190' '1761' '1128' '1220'
 '509' '1852' '1045' '3535' '1102' '1436' '1397' '645' '2050' '1335'
 '1255' '2376' '663' '1276' '1450' '1305' '1740' '680' '1154' '1525'
 '2470' '1272' '1945' '1033' '2300' '1235' '1880' '2450' '2041' '1037'
 '1184' '1680' '1411' '3500' '1185' '1545' '1515' '1107' '1540' '710'
 '1584.01' '875' '1485' '1640' '1165' '4500' '1232' '1704' '1222' '1517'
 '1166' '870' '3019' '3800' '971' '1810' '1510 - 1670' '1560' '1650'
 '1645' '1748' '3420' '1610' '1870' '1510' '2700' '1149' '1948' '1448'
 '1242' '1268' '1101' '984' '1089' '950' '1068' '860' '1756' '8321' '1604'
 '2732' '1015' '1010' '1248.52' '410' '1656' '1451' '4395' '4600' '1340'
 '1096' '1160' '1936' '1269' '1586' '1376' '1452' '1538' '1427' '1197'
 '674' '1573' '2045' '1056' '1204' '1310' '1416' '1145' '7200' '1231'
 '1664' '972' '1750' '3155' '994' '1441' '1157' '1370.07' '1062' '1430'
 '1195' '2640' '1550 - 1590' '782' '1011' '1129' '1126' '1180' '940'
 '1933' '1082' '610' '3850' '777.4' '2500' '1864' '1115' '400' '992'
 '1735' '1009' '1470' '1527' '985' '3300' '1277' '1530' '1886' '3453'
 '1490' '3522' '1244' '623' '1034' '1191' '1719' '1752.12' '2990' '1660'
 '1365' '2546' '1392' '1162' '1476' '943' '1113' '1615' '1279' '1256'
 '1805' '1357' '1777.26' '845' '829' '1879' '1108' '1401' '1751' '1550'
 '1235 - 1410' '1175' '1407' '1027' '3730' '1737' '3484 - 3550' '1030'
 '1057' '2774' '3626' '5100' '1139.7' '2425' '1323' '740' '1920'
 '38Guntha' '1588' '1308' '3280' '2170' '1107.83' '1090' '1247' '1595'
 '1705' '2325' '1347' '1402' '2280' '1919' '1565' '1581' '2882' '1440'
 '2180' '7000' '1449' '929 - 1078' '3009' '1698' '2150 - 2225' '2051'
 '1404' '1252' '1885' '3381' '2312' '970' '1520 - 1759' '2150' '1635'
 '3425' '2950' '4450' '2390' '1690' '1386' '1732' '1390' '416' '1453'
 '1226' '784' '1168' '1776' '1634' '2800' '1133' '1559' '6652' '976'
 '2940' '1633' '1151' '2215' '1183' '1643' '1291' '1575' '1236' '2475'
 '4694' '3150' '1018' '3520' '918' '927' '2580 - 2591' '302' '525'
 '629 - 1026' '2282' '2172' '1088' '1995' '1309' '880' '1041' '1505'
 '1767' '1293' '1280' '1814' '1243' '1475' '1353' '2695' '1585' '1385'
 '60' '1203' '905' '1105' '1830' '1215 - 1495' '1980' '842' '1884' '1196'
 '2145' '1192' '1447' '1329' '1314' '1214' '1513' '6Acres' '1246' '705'
 '1495' '996' '975' '1261' '982' '1040' '1960' '1140 - 1250' '450' '4304'
 '648' '4209' '1718' '1480' '500' '1760' '2415' '644' '1251' '1731' '1206'
 '702' '1208' '1589' '560' '1426' '1171' '1465' '1580' '1473' '4040'
 '2456' '1521' '2406' '1630' '1670' '830' '9600' '2400 - 2600' '2750'
 '2137' '973' '1724' '2787' '891' '1787' '1730' '1692' '1602' '793' '3250'
 '1625' '1032' '1496' '1482' '2360' '1563' '1344' '812' '3175' '1360'
 '1835' '1141' '1356' '1052 - 1322' '1745' '2035' '633' '485' '1112'
 '2275' '1419' '2020' '1047' '865' '8840' '823' '990' '1950' '520' '1216'
 '1026' '3335' '1804' '2375' '960' '1152' '965' '1684' '1672' '1464'
 '1169' '1875' '1241' '815' '5666 - 5669' '1368' '420' '614' '1408' '1223'
 '1507' '1021' '2162.03' '6729' '1827' '1930' '1158' '1520' '620 - 934'
 '2710' '893' '5400' '1843' '1138' '1396' '1104' '1052' '2240' '2019'
 '1893' '1318' '1325' '1567' '1747' '1524' '966' '1273' '2615' '1322'
 '1755' '772' '2999.97' '1085' '1785' '1201' '1289' '1991' '1377' '2880'
 '1892' '2176' '3554' '1801' '4250' '1806' '3671' '2144' '1681' '3633'
 '1607' '1708' '1890' '1063' '1067' '1343' '2236' '2955' '1950.2'
 '712 - 938' '602' '2171.66' '720' '1790' '1783 - 1878' '120Sq. Yards'
 '708' '3122' '540' '1837' '3729' '1715' '1123' '953' '1457' '5515' '1013'
 '907' '1891' '24Sq. Meter' '2040' '930' '920' '1213' '1653' '1321' '1570'
 '1274' '1317' '2528 - 3188' '656' '1153' '2031' '1454' '1405' '2153'
 '2135' '1382' '936' '475' '1623.29' '650 - 760' '1675' '2257' '595'
 '3750' '5480' '3040' '654' '5656' '1072' '1425' '866' '1295' '3504'
 '4723' '820' '3508' '3700' '1354' '2453' '1762' '2650' '3295' '2119'
 '2505' '995' '1081' '605' '567' '1400 - 1421' '3206' '1846' '4350' '1965'
 '1894' '1443' '886' '1284' '350' '16335' '747' '1738' '2790' '1857'
 '1763' '3408' '1876' '1938' '1832' '1423' '1432' '1916' '1336' '1294'
 '4100' '4000 - 4450' '3050' '1636' '2087.01' '1844' '142.84Sq. Meter'
 '1215' '955' '884' '2559' '3734' '964' '2321' '1484' '620' '3100' '4007'
 '2409' '1541' '1224' '1676' '575' '640' '589' '300Sq. Yards' '1435'
 '1092' '1442' '497' '1768' '1094' '2875' '2340' '1655' '2024' '6200'
 '1265' '1855' '2089' '2900' '1694' '1612' '2295' '4144' '1046' '1097'
 '2160' '1297' '1375' '4750' '1594' '2777.29' '1371' '3210' '1234' '2140'
 '1584' '1583' '1115 - 1130' '1227' '1686' '1654' '1989' '754' '580'
 '1910' '1332' '2444' '3290' '1932.47' '2086' '2503' '1282' '2204 - 2362'
 '1516' '3385' '3895' '755' '1571' '1489' '911' '1535' '957' '2206' '1181'
 '1622' '1466' '876' '1659' '2485' '1313' '890' '1173' '1662'
 '1437 - 1629' '2665' '1799' '1084' '1328' '1031' '850 - 1060' '1267'
 '30400' '545' '1804 - 2273' '1367' '1701' '1016' '2292' '1616' '1022'
 '1264' '1605' '1596' '1557' '1984' '2259' '1200 - 1470' '1674' '1786'
 '1564' '1334' '7150' '1369' '1418' '1881' '5665.84' '2610' '1576' '1307'
 '2920' '1349' '440' '1198' '6688' '1331.95' '2093' '2872' '1486' '1058'
 '1975' '1648' '2265' '530' '1688' '1379' '1121' '3124' '2099' '9200'
 '8000' '814' '745' '613' '896' '250' '1178' '1508' '2395' '1667' '1903'
 '1048' '1020 - 1130' '1651' '1783' '2758' '1132' '1917' '1703' '1211'
 '1146' '877' '1477' '1380' '1133 - 1384' '3360' '2010' '510' '2111'
 '4050' '2830 - 2882' '774' '1187' '1262' '4689']

In [149]:
non_integer_values = test_data[test_data['total_sqft'].apply(lambda x: not str(x).isdigit())]
print(non_integer_values['total_sqft'])
print(non_integer_values.shape[0])

27            896.9
50        660 - 780
63          1419.59
70      1618 - 1929
138          1626.6
           ...
2430        5665.84
2467        1331.95
2584    1020 - 1130
2609    1133 - 1384
2643    2830 - 2882
Name: total_sqft, Length: 63, dtype: object
63

In [151]:
test_data['total_sqft'] = test_data['total_sqft'].apply(process_total_sqft)
test_data['total_sqft'] = test_data['total_sqft'].apply(process_total_sqft)
test_data['total_sqft'] = test_data['total_sqft'].astype(float).round().astype(int)

In [153]:
unique_total_sqft = test_data['area_type'].unique()
print(unique_total_sqft)

['Super built-up  Area' 'Built-up  Area' 'Plot  Area' 'Carpet  Area']

In [155]:
grouped_size_data = test_data.groupby('size').size()
filtered_bath_data = test_data[test_data['bath'].notnull()]
grouped_avg_bath = filtered_bath_data.groupby('size')['bath'].mean().astype(float).round().astype(int)

# Replace blank values in 'bath' with grouped average
def fill_blank_bath(row):
    if pd.isnull(row['bath']):  # Check if 'bath' is null
        return grouped_avg_bath.get(row['size'], row['bath'])  # Get the average for the group or keep as is
    return row['bath']
test_data['bath'] = test_data.apply(fill_blank_bath, axis=1)

In [157]:
grouped_balcony_data = test_data.groupby('balcony').size()
filtered_balcony_data = test_data[test_data['balcony'].notnull()]
grouped_avg_balcony = filtered_balcony_data.groupby('size')['balcony'].mean().astype(float).round().astype(int)

# Replace blank values in 'bath' with grouped average
def fill_blank_balcony(row):
    if pd.isnull(row['balcony']):  # Check if 'bath' is null
        return grouped_avg_balcony.get(row['size'], row['balcony'])  # Get the average for the group or keep as is
    return row['balcony']
test_data['balcony'] = test_data.apply(fill_blank_balcony, axis=1)
average_balcony = round(test_data['balcony'].mean())
test_data['balcony'] = test_data['balcony'].fillna(average_balcony)

In [159]:
missing_count = test_data.isnull().sum()
print(missing_count)

ID              0
area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
dtype: int64

### Merge Primary and Secondary data sets to test_data and process

In [161]:
test_data = test_data.merge(dist_data, on='location', how='left')
test_data = test_data.merge(rent_data, on='location', how='left')
test_data.head(3)

,ID,area_type,availability,location,size,total_sqft,bath,balcony,dist_from_city,avg_2bhk_rent
0,0,Super built-up Area,Ready To Move,Chamrajpet,2 BHK,650,1.0,1.0,6.7,15875.0
1,1,Super built-up Area,Ready To Move,7th Phase JP Nagar,3 BHK,1370,2.0,1.0,11.0,NaN
2,2,Super built-up Area,Ready To Move,Whitefield,3 BHK,1725,3.0,2.0,17.3,14981.0

In [163]:
test_missing_count = test_data.isnull().sum()
print(test_missing_count)

ID                   0
area_type            0
availability         0
location             0
size                 0
total_sqft           0
bath                 0
balcony              0
dist_from_city     274
avg_2bhk_rent     1751
dtype: int64

In [165]:
test_data.fillna(test_data['dist_from_city'].mean(), inplace=True)
test_data.fillna(test_data['avg_2bhk_rent'].mean(), inplace=True)

In [169]:
for column in ['area_type', 'availability', 'location', 'size']:
        le = LabelEncoder()
        test_data[column] = le.fit_transform(test_data[column])

In [171]:
test_missing_count = test_data.isnull().sum()
print(test_missing_count)

ID                0
area_type         0
availability      0
location          0
size              0
total_sqft        0
bath              0
balcony           0
dist_from_city    0
avg_2bhk_rent     0
dtype: int64

In [173]:
X_test = test_data
test_data['price'] = 0
y_test = test_data['price']

In [ ]:
'test2'

In [175]:
test_data.to_csv('tested_data.csv', index=False)

### Feature engineering

In [90]:
# Encode categorical variables for both training and test data
scaler = StandardScaler()
numeric_features = ['area_type', 'availability', 'location', 'size', 'total_sqft', 'bath', 'balcony', 'price', 'dist_from_city', 'avg_2bhk_rent', 'price_per_sqft', 'rent_to_price_ratio']
X_train_scaled = scaler.fit_transform(train_data[numeric_features])

### Model selection and evaluation

In [82]:
# Instantiate and train a Random Forest Regressor
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train_scaled, y_train)

RandomForestRegressor(random_state=42)

In [83]:
# Predict on test data
y_pred = rf_model.predict(X_test_scaled)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"RMSE on test data: {rmse}")

RMSE on test data: 177.53237631434916

### Hyper Parameter Tuning

In [92]:
# Define parameter grid for Random Forest
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, None],
    'min_samples_split': [2, 5, 10]
}

# Use GridSearchCV to find the best parameters
grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error', verbose=2)
grid_search.fit(X_train, y_train)

# Best model
best_model = grid_search.best_estimator_

# Evaluate best model
y_pred_best = best_model.predict(X_test)
rmse_best = np.sqrt(mean_squared_error(y_test, y_pred_best))
print(f"Optimized RMSE: {rmse_best}")

Fitting 5 folds for each of 27 candidates, totalling 135 fits
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   6.0s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   6.0s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   6.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   6.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   6.4s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=  12.9s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=  12.7s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=  12.0s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=  11.6s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=  12.2s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=  18.0s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=  17.9s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=  18.0s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=  18.0s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=  17.7s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   5.8s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   5.9s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   5.7s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   5.7s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   6.0s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=  12.2s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=  11.7s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=  11.9s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=  12.0s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=  12.0s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=  17.9s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=  17.3s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=  17.2s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=  17.9s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=  18.4s
[CV] END max_depth=10, min_samples_split=10, n_estimators=100; total time=   5.7s
[CV] END max_depth=10, min_samples_split=10, n_estimators=100; total time=   6.0s
[CV] END max_depth=10, min_samples_split=10, n_estimators=100; total time=   5.7s
[CV] END max_depth=10, min_samples_split=10, n_estimators=100; total time=   6.0s
[CV] END max_depth=10, min_samples_split=10, n_estimators=100; total time=   6.0s
[CV] END max_depth=10, min_samples_split=10, n_estimators=200; total time=  12.0s
[CV] END max_depth=10, min_samples_split=10, n_estimators=200; total time=  11.7s
[CV] END max_depth=10, min_samples_split=10, n_estimators=200; total time=  11.9s
[CV] END max_depth=10, min_samples_split=10, n_estimators=200; total time=  11.6s
[CV] END max_depth=10, min_samples_split=10, n_estimators=200; total time=  12.1s
[CV] END max_depth=10, min_samples_split=10, n_estimators=300; total time=  18.0s
[CV] END max_depth=10, min_samples_split=10, n_estimators=300; total time=  17.9s
[CV] END max_depth=10, min_samples_split=10, n_estimators=300; total time=  17.8s
[CV] END max_depth=10, min_samples_split=10, n_estimators=300; total time=  17.8s
[CV] END max_depth=10, min_samples_split=10, n_estimators=300; total time=  17.7s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   9.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   9.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   8.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   8.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   4.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=  17.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=  17.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=  17.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=  17.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=  17.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=  26.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=  27.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=  27.4s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=  25.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=  26.4s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   8.7s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   8.6s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   8.4s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   8.4s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   8.6s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=  16.9s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=  16.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=  16.7s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=  16.9s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=  17.1s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=  25.7s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=  25.5s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=  24.7s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=  25.4s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=  24.9s
[CV] END max_depth=20, min_samples_split=10, n_estimators=100; total time=   7.8s
[CV] END max_depth=20, min_samples_split=10, n_estimators=100; total time=   7.5s
[CV] END max_depth=20, min_samples_split=10, n_estimators=100; total time=   7.6s
[CV] END max_depth=20, min_samples_split=10, n_estimators=100; total time=   7.5s
[CV] END max_depth=20, min_samples_split=10, n_estimators=100; total time=   7.4s
[CV] END max_depth=20, min_samples_split=10, n_estimators=200; total time=  15.2s
[CV] END max_depth=20, min_samples_split=10, n_estimators=200; total time=  15.5s
[CV] END max_depth=20, min_samples_split=10, n_estimators=200; total time=  15.6s
[CV] END max_depth=20, min_samples_split=10, n_estimators=200; total time=  15.2s
[CV] END max_depth=20, min_samples_split=10, n_estimators=200; total time=  14.8s
[CV] END max_depth=20, min_samples_split=10, n_estimators=300; total time=  22.4s
[CV] END max_depth=20, min_samples_split=10, n_estimators=300; total time=  22.3s
[CV] END max_depth=20, min_samples_split=10, n_estimators=300; total time=  22.2s
[CV] END max_depth=20, min_samples_split=10, n_estimators=300; total time=  22.3s
[CV] END max_depth=20, min_samples_split=10, n_estimators=300; total time=  21.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   9.0s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   8.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   8.8s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   8.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   6.1s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   7.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   7.1s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   6.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   7.0s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   6.8s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=  10.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=  10.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=  10.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=  10.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=  10.4s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   3.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   3.2s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   3.2s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   3.2s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   3.2s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   6.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   6.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   6.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   6.5s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   6.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   9.8s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=  10.0s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   9.9s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=  10.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   9.9s
[CV] END max_depth=None, min_samples_split=10, n_estimators=100; total time=   2.9s
[CV] END max_depth=None, min_samples_split=10, n_estimators=100; total time=   3.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=100; total time=   3.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=100; total time=   3.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=100; total time=   3.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=200; total time=   6.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=200; total time=   6.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=200; total time=   6.1s
[CV] END max_depth=None, min_samples_split=10, n_estimators=200; total time=   6.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=200; total time=   6.1s
[CV] END max_depth=None, min_samples_split=10, n_estimators=300; total time=   9.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=300; total time=   9.2s
[CV] END max_depth=None, min_samples_split=10, n_estimators=300; total time=   9.0s
[CV] END max_depth=None, min_samples_split=10, n_estimators=300; total time=   9.1s
[CV] END max_depth=None, min_samples_split=10, n_estimators=300; total time=   9.0s
Optimized RMSE: 2356.840161805266

### Save and load Model

In [ ]:
# Save the best model
joblib.dump(best_model, 'house_price_model.pkl')

# Save the scaler for deployment
joblib.dump(scaler, 'scaler.pkl')

In [ ]:
# Load the model and scaler
loaded_model = joblib.load('house_price_model.pkl')
loaded_scaler = joblib.load('scaler.pkl')

# Predict for a new dataset
new_data = pd.DataFrame({
    'total_sqrt': [1200],
    'size': [3],
    'Distance_from_City_Center': [5],
    'Average_Rent': [1500]
})

# Preprocess the new data
new_data_scaled = loaded_scaler.transform(new_data)
predicted_price = loaded_model.predict(new_data_scaled)
print(f"Predicted House Price: {predicted_price[0]}")

In [ ]:
'test11'

In [ ]:
""" label_encoders = {}
for column in ['area_type', 'availability', 'location', 'size']:
    le = LabelEncoder()
    trained_data[column] = le.fit_transform(trained_data[column])
    label_encoders[column] = le
"""