### Import Required Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import re
import joblib
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

### Import all data files

In [4]:
train_data = pd.read_csv("train.csv")
dist_data = pd.read_csv('dist_from_city_centre.csv')
rent_data = pd.read_csv('avg_rent.csv')
test_data = pd.read_csv("test.csv")

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10656 entries, 0 to 10655
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            10656 non-null  int64
 1   area_type     10656 non-null  object
 2   availability  10656 non-null  object
 3   location      10655 non-null  object
 4   size          10642 non-null  object
 5   society       6228 non-null   object
 6   total_sqft    10656 non-null  object
 7   bath          10591 non-null  float64
 8   balcony       10152 non-null  float64
 9   price         10656 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 832.6+ KB

In [6]:
train_data.head(3)

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00

In [7]:
dist_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        500 non-null    object
 1   dist_from_city  500 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.9+ KB

In [8]:
dist_data.head(3)

          location  dist_from_city
0       Whitefield            17.3
1   Sarjapur  Road            17.2
2  Electronic City            18.1

In [9]:
rent_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   location       157 non-null    object
 1   avg_2bhk_rent  157 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.6+ KB

In [10]:
rent_data.head()

                        location  avg_2bhk_rent
0                Krishnarajapura          11954
1                       Sarjapur          45000
2  Whitefield Hope Farm Junction          26370
3                    Devanahalli          17302
4                     Whitefield          14981

In [11]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2664 entries, 0 to 2663
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2664 non-null   int64
 1   area_type     2664 non-null   object
 2   availability  2664 non-null   object
 3   location      2664 non-null   object
 4   size          2662 non-null   object
 5   society       1590 non-null   object
 6   total_sqft    2664 non-null   object
 7   bath          2656 non-null   float64
 8   balcony       2559 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 187.4+ KB

In [12]:
test_data.head()

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony
0,0,Super built-up Area,Ready To Move,Chamrajpet,2 BHK,NaN,650,1.0,1.0
1,1,Super built-up Area,Ready To Move,7th Phase JP Nagar,3 BHK,SrncyRe,1370,2.0,1.0
2,2,Super built-up Area,Ready To Move,Whitefield,3 BHK,AjhalNa,1725,3.0,2.0
3,3,Built-up Area,Ready To Move,Jalahalli,2 BHK,NaN,1000,2.0,0.0
4,4,Plot Area,Ready To Move,TC Palaya,1 Bedroom,NaN,1350,1.0,0.0

### Common Data Processing functions

In [14]:
# Delete non-preferable rows and columns
def remove_NonPreferable_Rows_Columns(data) :
    #data = data.dropna(subset=['location'])
    #data = data.dropna(subset=['size'])
    data['size'] = data['size'].fillna('Unknown')
    data['location'] = data['location'].fillna('Unknown')
    #data = data.drop('society', axis=1)
    data['society'] = data['society'].fillna('Unknown')
    return data

In [15]:
# Convert the 'size' values to uniform in nature
def convert_Size_Uniformely(data) :
    data['size'] = data['size'].str.replace('Bedroom', 'BHK')
    return data

In [16]:
def process_total_sqft(value):
    value = str(value.strip().lower().replace(" ", ""))
    if '-' in value:
        # Split the string at the hyphen, strip spaces, and calculate the average
        parts = value.split('-')
        part1 = float(parts[0].strip())  # Trim spaces and convert to float
        part2 = float(parts[1].strip())  # Trim spaces and convert to float
        avg_value = (part1 + part2) / 2
        return str(avg_value)
    elif value.endswith(".0"):
        return value[:-2]
    elif (value.endswith("acres") or value.endswith("acre") or value.endswith("acr") or value.endswith("acrs")):
        value = value.replace("acres", "").replace("acre", "").replace("acr", "").replace("acrs", "")
        return str(float(value) * 43560)
    elif (value.endswith("sq.meter") or value.endswith("sq.mtr") or value.endswith("sqmeter") or value.endswith("sqmtr")):
        value = value.replace("sq.meter", "").replace("sq.mtr", "").replace("sqmeter", "").replace("sqmtr", "")
        return str(float(value) * 10.7639)
    elif (value.endswith("perch") or value.endswith("prch")):
        value = value.replace("perch", "").replace("prch", "")
        return str(float(value) * 272.25)
    elif (value.endswith("sq.yards") or value.endswith("sq.yard") or value.endswith("sqyrd") or value.endswith("sqyrds")):
        value = value.replace("sq.yards", "").replace("sq.yard", "").replace("sqyrd", "").replace("sqyrds", "")
        return str(float(value) * 9)
    elif (value.endswith("cents") or value.endswith("cent") or value.endswith("cnts") or value.endswith("cnt")):
        value = value.replace("cents", "").replace("cent", "").replace("cnts", "").replace("cnt", "")
        return str(float(value) * 435.6)
    elif (value.endswith("gunthas") or value.endswith("guntha") or value.endswith("guntas") or value.endswith("gunta")):
        value = value.replace("gunthas", "").replace("guntha", "").replace("guntas", "").replace("gunta", "")
        return str(float(value) * 1089)
    elif (value.endswith("grounds") or value.endswith("ground") or value.endswith("grnds") or value.endswith("grnd")):
        value = value.replace("grounds", "").replace("ground", "").replace("grnds", "").replace("grnd", "")
        return str(float(value) * 2400)
    else:
        return value

In [17]:
def convert_uniform_totalSqrt(data) :
    non_integer_values = data[data['total_sqft'].apply(lambda x: not str(x).isdigit())]
    data['total_sqft'] = data['total_sqft'].apply(process_total_sqft)
    data['total_sqft'] = data['total_sqft'].apply(process_total_sqft)
    data['total_sqft'] = data['total_sqft'].astype(float).round().astype(int)
    return data

In [18]:
# Catgeories based on total square feet
def generate_sqft_cat_column(data) :
    data['total_sqft_category'] = pd.cut(
        data['total_sqft'], 
        bins=[0, 49, 100, 500, 1000, 5000, 10000, 15000, 25000, 50000, 100000, 200000, 500000, 1000000, 2000000, 5000000, 10000000, 20000000],
        labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
        include_lowest=True
    )
    data['total_sqft_category'] = data['total_sqft_category'].astype(int)
    return data

In [19]:
def avg_null_bath_values(data):
    if isinstance(data.index, pd.MultiIndex):
        data.reset_index(inplace=True)
    grouped = data.groupby(['area_type', 'total_sqft_category', 'size'])
    data['bath'] = grouped['bath'].transform(lambda x: x.fillna(x.mean()))
    print(data['bath'].isnull().sum())
    grouped = data.groupby(['area_type', 'total_sqft_category'])
    data['bath'] = grouped['bath'].transform(lambda x: x.fillna(x.mean()))
    data['bath'] = data['bath'].astype(float).round().astype(int)
    return data;

In [20]:
def avg_null_balcony_values(data):
    if isinstance(data.index, pd.MultiIndex):
        data.reset_index(inplace=True)
    grouped = data.groupby(['area_type', 'total_sqft_category', 'size'])
    data['balcony'] = grouped['balcony'].transform(lambda x: x.fillna(x.mean()))
    print(data['balcony'].isnull().sum())
    data['balcony'] = data['balcony'].astype(float).round()

    if isinstance(data.index, pd.MultiIndex):
        data.reset_index(inplace=True)
    grouped = data.groupby(['area_type', 'total_sqft_category'])
    data['balcony'] = grouped['balcony'].transform(lambda x: x.fillna(x.mean()))
    print(data['balcony'].isnull().sum())
    data['balcony'] = data['balcony'].astype(float).round()

    if isinstance(data.index, pd.MultiIndex):
        data.reset_index(inplace=True)
    grouped = data.groupby(['area_type', 'size'])
    data['balcony'] = grouped['balcony'].transform(lambda x: x.fillna(x.mean()))
    print(data['balcony'].isnull().sum())
    data['balcony'] = data['balcony'].astype(float).round()
    
    return data;

In [21]:
def treat_society(value):
    return "unknown" if pd.isnull(value) else str(value.lower().strip())

### Data pre processing- Stage 1: train.csv and test.csv

In [23]:
processed_train_data = remove_NonPreferable_Rows_Columns(train_data)
processed_train_data = convert_Size_Uniformely(processed_train_data)
processed_train_data = convert_uniform_totalSqrt(processed_train_data)
processed_train_data = generate_sqft_cat_column(processed_train_data)
processed_train_data = avg_null_bath_values(processed_train_data)
processed_train_data = avg_null_balcony_values(processed_train_data)
processed_train_data['location'] = processed_train_data['location'].apply(treat_society)
processed_train_data.head(3)
processed_train_data.to_csv("processed_train_data_stg1.csv", index=False)

14
30
1
0

In [24]:
processed_test_data = remove_NonPreferable_Rows_Columns(test_data)
processed_test_data = convert_Size_Uniformely(processed_test_data)
processed_test_data = convert_uniform_totalSqrt(processed_test_data)
processed_test_data = generate_sqft_cat_column(processed_test_data)
processed_test_data = avg_null_bath_values(processed_test_data)
processed_test_data = avg_null_balcony_values(processed_test_data)
processed_test_data['society'] = processed_test_data['society'].apply(treat_society)
processed_test_data.head(3)
processed_test_data.to_csv("processed_test_data_stg1.csv", index=False)

2
7
0
0

In [25]:
missing_count = processed_train_data.isnull().sum()
print(missing_count)

ID                     0
area_type              0
availability           0
location               0
size                   0
society                0
total_sqft             0
bath                   0
balcony                0
price                  0
total_sqft_category    0
dtype: int64

In [26]:
missing_count = processed_test_data.isnull().sum()
print(missing_count)

ID                     0
area_type              0
availability           0
location               0
size                   0
society                0
total_sqft             0
bath                   0
balcony                0
total_sqft_category    0
dtype: int64

### Data pre processing- Stage 2: Merge Primary and Secondary data sets and process

In [28]:
# Catgeories based on total square feet
def generate_distance_cat_column(data) :
    data['dist_from_city_cat'] = pd.cut(
        data['dist_from_city'], 
        bins=[0, 2, 5, 8, 13, 20, 30, 50, 70, 100, 200, 500, 1000, 2000, 5000, 10000, 20000, 50000],
        labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
        include_lowest=True
    )
    data['dist_from_city_cat'] = data['dist_from_city_cat'].astype(int)
    return data

In [29]:
def fill_null_avg_2bhk_rent(data):
    def first_level(data) :
        if isinstance(data.index, pd.MultiIndex):
            data.reset_index(inplace=True)
        grouped = data.groupby(['dist_from_city_cat'])
        data['avg_2bhk_rent'] = grouped['avg_2bhk_rent'].transform(lambda x: x.fillna(x.mean()))
        data['avg_2bhk_rent'] = data['avg_2bhk_rent'].astype(float).round()
        return data;
    data = first_level(data)
    data['avg_2bhk_rent'] = data['avg_2bhk_rent'].fillna(data['avg_2bhk_rent'].mean())
    return data

In [30]:
processed_train_data = processed_train_data.merge(dist_data, on='location', how='left')
processed_train_data = processed_train_data.merge(rent_data, on='location', how='left')
processed_train_data.head(3)

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,price,total_sqft_category,dist_from_city,avg_2bhk_rent
0,0,Super built-up Area,19-Dec,electronic city phase ii,2 BHK,Coomee,1056,2,1.0,39.07,5,NaN,NaN
1,1,Plot Area,Ready To Move,chikka tirupathi,4 BHK,Theanmp,2600,5,3.0,120.00,5,NaN,NaN
2,2,Built-up Area,Ready To Move,uttarahalli,3 BHK,Unknown,1440,2,3.0,62.00,5,NaN,NaN

In [31]:
processed_train_data['dist_from_city'] = processed_train_data['dist_from_city'].fillna(processed_train_data['dist_from_city'].mean())
processed_train_data = generate_distance_cat_column(processed_train_data)
processed_train_data = fill_null_avg_2bhk_rent(processed_train_data)
processed_train_data.head(3)

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,price,total_sqft_category,dist_from_city,avg_2bhk_rent,dist_from_city_cat
0,0,Super built-up Area,19-Dec,electronic city phase ii,2 BHK,Coomee,1056,2,1.0,39.07,5,12.2,13244.0,4
1,1,Plot Area,Ready To Move,chikka tirupathi,4 BHK,Theanmp,2600,5,3.0,120.00,5,12.2,13244.0,4
2,2,Built-up Area,Ready To Move,uttarahalli,3 BHK,Unknown,1440,2,3.0,62.00,5,12.2,13244.0,4

In [32]:
processed_test_data = processed_test_data.merge(dist_data, on='location', how='left')
processed_test_data = processed_test_data.merge(rent_data, on='location', how='left')
processed_test_data.head(3)

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,total_sqft_category,dist_from_city,avg_2bhk_rent
0,0,Super built-up Area,Ready To Move,Chamrajpet,2 BHK,unknown,650,1,1.0,4,6.7,15875.0
1,1,Super built-up Area,Ready To Move,7th Phase JP Nagar,3 BHK,srncyre,1370,2,1.0,5,11.0,NaN
2,2,Super built-up Area,Ready To Move,Whitefield,3 BHK,ajhalna,1725,3,2.0,5,17.3,14981.0

In [33]:
processed_test_data['dist_from_city'] = processed_test_data['dist_from_city'].fillna(processed_test_data['dist_from_city'].mean())
processed_test_data = generate_distance_cat_column(processed_test_data)
processed_test_data = fill_null_avg_2bhk_rent(processed_test_data)
processed_test_data.head(3)

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,total_sqft_category,dist_from_city,avg_2bhk_rent,dist_from_city_cat
0,0,Super built-up Area,Ready To Move,Chamrajpet,2 BHK,unknown,650,1,1.0,4,6.7,15875.0,3
1,1,Super built-up Area,Ready To Move,7th Phase JP Nagar,3 BHK,srncyre,1370,2,1.0,5,11.0,15727.0,4
2,2,Super built-up Area,Ready To Move,Whitefield,3 BHK,ajhalna,1725,3,2.0,5,17.3,14981.0,5

In [34]:
processed_train_data.to_csv("processed_train_data_stg2.csv", index=False)
processed_test_data.to_csv("processed_test_data_stg2.csv", index=False)

In [35]:
missing_count = processed_train_data.isnull().sum()
print(missing_count)

ID                     0
area_type              0
availability           0
location               0
size                   0
society                0
total_sqft             0
bath                   0
balcony                0
price                  0
total_sqft_category    0
dist_from_city         0
avg_2bhk_rent          0
dist_from_city_cat     0
dtype: int64

In [36]:
missing_count = processed_train_data.isnull().sum()
print(missing_count)

ID                     0
area_type              0
availability           0
location               0
size                   0
society                0
total_sqft             0
bath                   0
balcony                0
price                  0
total_sqft_category    0
dist_from_city         0
avg_2bhk_rent          0
dist_from_city_cat     0
dtype: int64

### Data pre processing- Stage 3: Further Data encoding

In [38]:
def availability_generalize(value):
    value = str(value)
    if '-' in value:
        return value.split('-')[1].strip().lower()
    if 'ready to move' in value:
        return "ready to move in"
    return value.strip().lower()

In [39]:
processed_train_data['availability'] = processed_train_data['availability'].apply(availability_generalize)
processed_test_data['availability'] = processed_test_data['availability'].apply(availability_generalize)

In [40]:
processed_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10656 entries, 0 to 10655
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10656 non-null  int64
 1   area_type            10656 non-null  object
 2   availability         10656 non-null  object
 3   location             10656 non-null  object
 4   size                 10656 non-null  object
 5   society              10656 non-null  object
 6   total_sqft           10656 non-null  int32
 7   bath                 10656 non-null  int32
 8   balcony              10656 non-null  float64
 9   price                10656 non-null  float64
 10  total_sqft_category  10656 non-null  int32
 11  dist_from_city       10656 non-null  float64
 12  avg_2bhk_rent        10656 non-null  float64
 13  dist_from_city_cat   10656 non-null  int32
dtypes: float64(4), int32(4), int64(1), object(5)
memory usage: 999.1+ KB

In [131]:
processed_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2664 entries, 0 to 2663
Columns: 1227 entries, ID to size_Unknown
dtypes: float64(1221), int32(5), int64(1)
memory usage: 24.9 MB

In [ ]:
le = LabelEncoder()
processed_train_data['society'] = le.fit_transform(processed_train_data['society'])
processed_test_data['society'] = le.fit_transform(processed_test_data['society'])

In [42]:
#categorical_columns = processed_train_data.select_dtypes(include=['object']).columns
categorical_columns = ['area_type', 'availability', 'location', 'size']
categorical_columns = [col for col in categorical_columns if col in processed_train_data.columns and col in processed_test_data.columns]

ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
ohe.fit(processed_train_data[categorical_columns])

train_encoded = ohe.transform(processed_train_data[categorical_columns])
test_encoded = ohe.transform(processed_test_data[categorical_columns])

feature_names = ohe.get_feature_names_out(categorical_columns)

train_encoded_df = pd.DataFrame(train_encoded, columns=feature_names)
test_encoded_df = pd.DataFrame(test_encoded, columns=feature_names)

processed_train_data = processed_train_data.drop(columns=categorical_columns).reset_index(drop=True)
processed_test_data = processed_test_data.drop(columns=categorical_columns).reset_index(drop=True)
processed_train_data = pd.concat([processed_train_data, train_encoded_df], axis=1)
processed_test_data = pd.concat([processed_test_data, test_encoded_df], axis=1)

In [43]:
processed_train_data.to_csv("processed_train_data_stg3.csv", index=False)
processed_test_data.to_csv("processed_test_data_stg3.csv", index=False)

In [44]:
processed_test_data.head(3)

,ID,society,total_sqft,bath,balcony,total_sqft_category,dist_from_city,avg_2bhk_rent,dist_from_city_cat,area_type_Built-up Area,...,size_27 BHK,size_3 BHK,size_4 BHK,size_43 BHK,size_5 BHK,size_6 BHK,size_7 BHK,size_8 BHK,size_9 BHK,size_Unknown
0,0,unknown,650,1,1.0,4,6.7,15875.0,3,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,srncyre,1370,2,1.0,5,11.0,15727.0,4,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ajhalna,1725,3,2.0,5,17.3,14981.0,5,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Model Building

In [47]:
y = processed_train_data['price']
X = processed_train_data.drop(['ID', 'price'], axis=1)

### Model Validation and tuning

In [49]:
from sklearn.model_selection import train_test_split

# Split data into training and temporary sets (70% train, 30% temp)
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)

# Further split the temporary set into validation (20%) and test sets (80%)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.8, random_state=42)

In [50]:
param_grid = {'fit_intercept': [True, False]}

# Create a linear regression model object
model = LinearRegression()

# Create a GridSearchCV object for hyperparameter tuning
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_

# Get the best model
best_model = grid_search.best_estimator_

In [51]:
# Evaluate the best model on the validation set
y_pred_val = best_model.predict(X_val)
mse_val = mean_squared_error(y_val, y_pred_val)
rmse_val = np.sqrt(mse_val)
mae_val = mean_absolute_error(y_val, y_pred_val)
r2_val = r2_score(y_val, y_pred_val)

# Print validation set performance metrics
print(f"Validation MSE: {mse_val}")
print(f"Validation RMSE: {rmse_val}")
print(f"Validation MAE: {mae_val}")
print(f"Validation R-squared: {r2_val}")

Validation MSE: 99597829691949.73
Validation RMSE: 9979871.226220794
Validation MAE: 673967.7717964548
Validation R-squared: -6172044432.552353

In [52]:
# Evaluate the best model on the unseen test set
y_pred_test = best_model.predict(X_test)
mse_test = mean_squared_error(y_test, y_pred_test)
rmse_test = np.sqrt(mse_test)
mae_test = mean_absolute_error(y_test, y_pred_test)
r2_test = r2_score(y_test, y_pred_test)

# Print test set performance metrics
print(f"Test MSE: {mse_test}")
print(f"Test RMSE: {rmse_test}")
print(f"Test MAE: {mae_test}")
print(f"Test R-squared: {r2_test}")

Test MSE: 72554769920318.22
Test RMSE: 8517908.776238345
Test MAE: 450523.1667061683
Test R-squared: -3840364405.072635

In [53]:
# Extract features from test data (no target column)
X_test = processed_test_data.drop(['ID'], axis=1)

# Create and fit the model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Save the predictions (you can save this to a file)
predictions_df = pd.DataFrame({'Predicted_Value': y_pred}) 
predictions_df.to_csv("predictions.csv", index=False)

In [54]:
'test2'

'test2'